<!DOCTYPE html>
<html>
  <head>
    <title>Banzai!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The gods have been informed of your existence</h1>
    <p>Please re-run your /pr command</p>
  </body>
</html>
